$white: #ffffff;
$black: #000000;

$blue: #2196F3;
$orange: #FF5722;
$purple: #9C27B0;
$green: #CDDC39;

$gray: #aaa;

$font-color: #000000;

$link-color: $blue;

$font-size: 16px;
// $font-family: "Helvetica Neue", Helvetica, sans-serif;
$font-family: 'Roboto', sans-serif;
// $font-family: 'Open Sans', sans-serif;
// $font-family: 'News Cycle', sans-serif;
$line-height: 1.5;
$bold: 500;

$btn-color: #eeeeee;
$btn-font-size: 12px;
$btn-padding: 0 1.2rem;
$btn-margin: .5rem;
$btn-height: 32px;
$btn-line-height: 35px;
$btn-border: 1px solid $btn-color;
$btn-radius: 4px;



